In [11]:
a_set={1,2,3,4, 'a'}
b_set={1,2,3,5,6,'b'}

#raskite sąjungą šių rinkinių;
print("sqjunga:",a_set.union(b_set))

#raskite, kokie elementai buvo bendri abiems rinkiniams?
print("bendri:",a_set.intersection(b_set))

#raskite, kokiais elementais skiriasi a_set nuo b_set?
print("skirtumai:",a_set.difference(b_set))

#pašalinkite bendrus elementus tarp a_set ir b_set, likusius elementus išspausdinkite.
print("skirtumai:",a_set.symmetric_difference(b_set))

l = [1,1,2,2,3,4,5,5,5,8,8,1,2]
#Pašalinkite pasikartojančius elementus iš šio l sąrašo
r=set(l)
print("be pasikartojanciu: ",list(r))

sqjunga: {1, 2, 3, 4, 5, 6, 'b', 'a'}
bendri: {1, 2, 3}
skirtumai: {'a', 4}
skirtumai: {4, 5, 6, 'b', 'a'}
[1, 2, 3, 4, 5, 8]

In [42]:
#ŽODYNAI
#Paskaičiuoti pelną pardavus visas prekes. Informacija apie kainą ir kiekius yra pateikiama kaip žodynai (dictionary):
d1 = {"cost_price": 32.67,
    "sell_price": 45.00,
    "inventory": 1200}
d2 = {"cost_price": 225.89,
    "sell_price": 550.00,
    "inventory": 100}
d3 = {"cost_price": 2.77,
    "sell_price": 7.95,
    "inventory": 8500}
 

pelnas = (d1["sell_price"] - d1["cost_price"] )*d1["inventory"]  # kai pirmq karta nurodom kam lygu, tai taip supranta kad tai skaicius
pelnas += (d2["sell_price"] - d2["cost_price"] )*d2["inventory"]
pelnas += (d3["sell_price"] - d3["cost_price"] )*d3["inventory"]
print("Pelnas pardavus prekes:",pelnas ,"Eur")
#print(f"Pelnas pardavus prekes:({pelnas1} + {pelnas2} + {pelnas3}),Eur")

Pelnas pardavus prekes: 91237.0 Eur

In [41]:
#o kaip parašyru su ciklu???
d1 = {"cost_price": 32.6,    "sell_price": 45.00,    "inventory": 1200}
d2 = {"cost_price": 225.89,    "sell_price": 550.00,    "inventory": 100}
d3 = {"cost_price": 2.77,    "sell_price": 7.95,    "inventory": 8500}

d=[d1,d2,d3]
# pelnas=0

for visas_pelnas in d :
    d+=1
    print((d["sell_price"]-d["cost_price"])*d["inventory"])

TypeError: 'int' object is not iterable